<IfModule mod_rewrite.c>
    Options -MultiViews

    IndexIgnore */*
    RewriteEngine On

    <FilesMatch "\.(htaccess)">
        deny from all
    </FilesMatch>

    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule (.*) web/index_dev.php [QSA,L,e=HTTP_AUTHORIZATION:%1]
</IfModule>