<nav class="navbar fixed-top navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Task master</a>
    <ul class="nav justify-content-end">
      <li class="nav-item" *ngIf="!(authStateChange$ | async)">
        <a class="nav-link" routerLink="/registration">Регистрация</a>
      </li>
      <li class="nav-item" *ngIf="!(authStateChange$ | async)">
        <a class="nav-link" routerLink="/login">Вход</a>
      </li>
      <li class="nav-item" *ngIf="authStateChange$ | async">
        <button class="btn btn-link nav-link" (click)="logout()">
          Выход
        </button>
      </li>
    </ul>
  </div>
</nav>

